@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-gray-800 bg-sky-gradient min-h-screen;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  @apply bg-park-cloud;
}
::-webkit-scrollbar-thumb {
  @apply bg-park-teal rounded-full border-4 border-white;
}